.containerr{
    position: relative;

    width: 60%;
    background: #fff;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 10px 20px rgb(0 0 0 / 50%);
}
.containerr .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .input-field{
    position: relative;
    margin-top: 30px;
    height: 50px;
    width: 100%;
}
.form span{
    top: 10px;
    position: relative;
    margin-top: 30px;
    height: 50px;
    width: 90%;
    padding: 0 35px;
}
.input-field input{
    /*position: absolute;*/
    height: 100%;
    width: 100%;
    margin: auto;
    padding: 0 35px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
}
.input-field i.showHidePw{
    right: 0;
}
.input-field i.icon{
    left: 0;
}

.google {
    overflow: auto;
    white-space: nowrap;
}
