


.App {
    text-align: center;
}

.map-container {
    width: auto;
    height: auto;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}




body {

    width: 100%;
    height: 500px;
    background-image: url('/src/assets/background/tlo.jpg');
    background-repeat: repeat;
    /*background-image: linear-gradient(to top left, url("tlo.jpg") 50%, #fdfcfc 50%);*/
}

.home-tlo {

}
