@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@350&display=swap');

:root {
    --A-color: rgba(161, 151, 145, 0.29);
    --B-color: rgba(207, 204, 237, 0.93);
    --C-color: rgba(230, 238, 239, 0.96);
    --D-color: rgba(237, 217, 204, 0.93);
    --E-color: rgba(220, 215, 204, 0.95);
}



html, body {
    max-width: 100%;
    min-height: 100vh;
    font-family: Montserrat, sans-serif !important;
}
body {
    /*overflow-y: hidden;*/

    overflow-x: hidden;
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /*width: 100%;*/
    /*background-image: url('/src/assets/background/tlo.jpg');*/
    /*background-repeat: repeat;*/
    background: linear-gradient(70deg, var(--C-color), var(--A-color)) !important;


}

section {
    color: black;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 80vh;
}

.hiddenX {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

/*@media(prefers-reduced-motion) {*/
/*    .hidden {*/
/*        transition: none;*/
/*    }*/
/*}*/

.showX {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}




.map-container {
    width: auto;
    height: auto;
}

.home-main-text {
    background-image: url('/src/assets/background/bg_doctor.png');

    height: 832px;
    width: 100%;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.main-container-of-slides {
    width: 100%;
    text-align: center;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.2);

}

.container-of-slides {
    margin: auto;
    padding: 0;
    height: 300px;
    width: 600px;
    opacity: 1;
}

.text-slider {
    transform: translateY(-100%);
}


.main-container-news {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0;
}

.container-news {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 25px;


}

.article {
    display: inline-block;
    width: 28%;
    text-align: center;
    padding: 3%;
}

.article-in {
    transition: transform 0.2s;
    /*border: solid 1px black;*/
}

.article-in:hover {
    transform: scale(1.1);
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

/*//////////////////////////////////////////////*/

.button-login {
    color: white;
    position: absolute;
    height: 60px;
    display: inline-flex;
    justify-content: end;
    align-items: end;
    overflow: hidden;
    width: auto;
    max-width: 60px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
    -webkit-transition: max-width 0.5s ease;
    transition: max-width 0.5s ease;
    white-space: nowrap;
}

.button-login:hover {
    max-width: 500px;
}

.icon-login {
    position: absolute;
    white-space: nowrap;
    padding-right: 15px;
}

.text {
    margin: 50px;
    padding: 0px 8px;
    align-items: end;
}

.navbar, .green-shadow {
    /*box-shadow: rgba(26, 63, 45, 0.47) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;*/
    box-shadow: var(--E-color) 0px 3px 7px;
}

.btnx {

    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: var(--E-color) 0px 3px 7px;

    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: relative;
    top: 0;
}


.btnx:hover, .btnx:active, .btnx:focus,
.nvbr:hover, .nvbr:active, .nvbr:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 1px;
}

.btnx:hover, .btnx:focus {
    background-color: rgba(203, 203, 203, 0.21);
}

.nvbr {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: relative;
    top: 0;
}

